

:root{
    --color: #fde570;
    --colorbg: #F8F8F8;
    --txt: rgb(128, 128, 128);

}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--txt);



}

.content {
    width: 100vw;
    height: 100vh;
    background: rgb(255,219,63);
    background: linear-gradient(317deg, rgba(255,219,63,0.49205619747899154) 0%, rgba(255,255,255,1) 50%, rgba(246,228,116,0.4892550770308123) 100%);
}

.content{
    display: flex;
    flex-flow: row wrap;
}


.image{


 
    background-image: url(./Signup1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 44vw;
    


    
}
.logoset{
    display:flex;
    position:relative;
    top:65%;
    height:100px;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0.01) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0.01) 100%);
    justify-content: center;
    align-items: center;

}
.logo{

    height:12vh;

    /* height: 100%;
    width:100%;
    

    margin-left:auto;
    margin-right:auto; */
    

}
.right{
    width: 56vw;
    display:flex;
    flex-flow: column;
    justify-content: center;
}   
.title{
    font-size: 2em;
    height: 10vh;

}
.right-text{
    text-align:center;
    margin: 0% 0 20% 0;
}
.left{
    padding: 0 5% 0 5%;
    margin-left: 5px;
    margin-right: 5px;

}

fieldset{
    border:0;
 

}
legend{
    padding: 10px 0;
}

.yellow{
    background: rgb(255,247,195);
    background: linear-gradient(62deg, rgba(255,247,195,0.7945772058823529) 0%, rgba(250,244,134,1) 50%, rgba(255,181,168,1) 100%);
    

}

.fset{
    display:flex;
    flex-flow: row wrap;
    gap: 22px;


}
.form{
    padding-bottom:20px;
    filter:drop-shadow(2px 7px 3px #c0c0c0)

}
.input{
    box-sizing:border-box;
    display: flex;
    flex-flow: column wrap;
    width:45%;
    font-size: 0.6rem;
    text-transform: uppercase;
    opacity: 85%;
    /* background-color: #F1F1F1; */
    margin-right:auto;
    margin-left:auto;
    
}

input[type=text],
input[type=password],
input[type=email]{
    
    filter:drop-shadow(1px 1px 1px);
    width:100%;


}



input[type="submit"] {


    

    width: 25%;
    background-color: rgba(256, 256, 256, 100);
  
    font-weight: 700;
    font-size: 1.2em;
    border: 2px solid;
    border-radius: 5px;

  }

 

.button{
    margin-top:15px;
    text-align: center;
}

.footer{
    position: absolute;
    bottom: 25px;
    width:56vw;
    text-align: center;
}

  @media only screen and (max-width: 600px)  {
    .content{
        flex-flow: column;
        height: auto;
        text-align: center;
    }
    .image {
        width:100vw;

    }
    .logo{
        height:10vh;
    }
    .right{
        height:90vh;
        width:auto;

    }

    
    /* .picture{
        width: 100vw;
        height: 15vh;
        display: flex;
        background-size: 100vw;
    }
    .logo{
        width: 100vw;
        position: static;
        gap: 10px;
    }
    .right{
        width: auto;
        height: auto;
    }
    .dummy-text{
        width: auto;
        margin-top: 30px;

    }
    .left{
        padding: 10px 20px;
    }
    .remote-text{
        padding: 20px 0;
        margin: 0;
    }
    .form{
        flex-flow: column nowrap;
        align-items: center;

    }
    .input{
        text-align: left;
        width: auto;
        font-size: 0.9em;
        justify-content: center;
        align-items: center;
    }
    input{
        font-size: 0.9rem;
        height: 1.5rem;
        width: 70vw;
    }
    .button,
    .log-in{
        display: flex;
        justify-content: center;
        margin-bottom: 0px;
    }
    button{
        margin-bottom: 0px;
        width: 60vw;
        padding: 10px 5px;
    }

} */